In [1]:
#read in the NYC Energy Cost file

import pandas as pd
data = pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses.csv")

data

,Period,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,...,Electric Savings,Borough,Latitude,Longitude,Community Board,Council District,BIN,BBL,Census Tract (2020),Neighborhood Tabulation Area (NTA) (2020)
0,FY2018,"139 ACA Realty, Inc.",Eitan Chandally,barbara@dial7.com,7187076123,43-23 35th Street,Long Island City,NY,11101,Commercial,...,NaN,QUEENS,40.745706,-73.929565,402.0,26.0,4003160.0,4.002220e+09,17902.0,QN0202
1,FY2018,"141 Lake Avenue Realty c/o JR Produce, Inc.",Josef Raz,jrproduce@gmail.com,7183708782,141 Lake Avenue,Staten Island,NY,10303,Wholesale/Warehouse/Distribution,...,NaN,STATEN IS,40.632845,-74.151048,501.0,49.0,5146740.0,5.011610e+09,239.0,SI0107
2,FY2018,14-10 123rd Street LLC,Danica/Ivan Drazic,ddrazic@atjelectrical.com,7183210117,14-10 123rd Street,College Point,NY,11356,Commercial,...,NaN,QUEENS,40.785144,-73.844833,407.0,19.0,4098344.0,4.040850e+09,929.0,QN0701
3,FY2018,183 Lorriane Street LLC,Tom Sapienza,tsapienza@KLCNY.com,2128405588,183 Lorraine Street,Brooklyn,NY,11231,Wholesale/Warehouse/Distribution,...,NaN,BROOKLYN,40.673106,-74.002300,306.0,38.0,3336622.0,3.005720e+09,5302.0,BK0601
4,FY2018,"21st Century Optics, Inc.",Ralph Woythaler,rwoythaler@21st centuryoptics.com,7183922310,47-00 33rd Street,Lond Island City,NY,11101,Manufacturing,...,NaN,QUEENS,40.742386,-73.932148,402.0,26.0,4003447.0,4.002520e+09,19901.0,QN0202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358,FY2022,Works Manufacturing of Brooklyn NY,Aleksey Kravchuk,aleks@worksmfg.com,7186090027,1155-1205 Manhattan Avenue #3-1-4,Brooklyn,NY,11222,Manufacturing,...,64.74,BROOKLYN,40.738113,-73.955453,301.0,33.0,3404803.0,3.024720e+09,56302.0,BK0101
2359,FY2022,"WorldWide Plumbing Supply, Inc.",Surie Lefkowitz,sheidya@wwps.com,7188533002,125 Lake Avenue,Staten Island,NY,10303,Manufacturing,...,18589.11,STATEN IS,40.633114,-74.151006,501.0,49.0,5107122.0,5.011610e+09,239.0,SI0107
2360,FY2022,WPC LLC,Sara Samplawska,robertwpcllc@yahoo.com,7184405667,"11-55-1205 Manhattan Avenue, #112",Brooklyn,NY,11222,Manufacturing,...,194.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2361,FY2022,WUD Furniture LLC,Keren Springer,keren@wudfurniture.com,7184867952,1102 Atlantic Avenue,Brooklyn,NY,11238,Manufacturing,...,3651.88,BROOKLYN,40.679518,-73.956819,308.0,35.0,3027572.0,3.011260e+09,305.0,BK0802
2362,FY2022,Wurtec Incorporated,Diego Alvaraado,diego.alvarado@wurtec.com,4197261066,31-50 31st Street,Lond Island City,NY,11106,Wholesale/Warehouse/Distribution,...,5162.19,QUEENS,40.763148,-73.924442,401.0,22.0,4007562.0,4.005890e+09,61.0,QN0103

In [2]:
1.
#How many different companies are represented in the data set? => 787

item_counts = data["Company Name"].value_counts()
print(item_counts)

FEDERAL EXPRESS                     12
JetBlue Airways, Corp.              10
MEDITERRANEAN GYRO PRODUCTS         10
Montefiore Medical Center           10
Magellan Aerospace New York, Inc     9
                                    ..
D.C. CENTER CORP                     1
HELLMAN ELECTRIC CORP.               1
Halach Gold, Inc.                    1
H. FOX & CO., INC.                   1
WPC LLC                              1
Name: Company Name, Length: 787, dtype: int64

In [3]:
2.
#What is the total number of jobs created for businesses in Queens?

#print all the unique values for the city column to check spellings and repeats
data['Borough'].unique()

array(['QUEENS', 'STATEN IS', 'BROOKLYN', 'MANHATTAN', nan, 'BRONX'],
      dtype=object)

In [4]:
#Filter dataframe by the Borough column to only include QUEENS, then use the new df to sum the values in the 'Job created column'

df2=data.query("Borough == 'QUEENS'")

Total = df2['Job created'].sum()
print(Total)

1196.0

In [5]:
#How many different unique email domains names are there in the data set? 591

data['domain'] = data['company email'].str.split('@').str[1]
item_counts = data["domain"].value_counts()
print(item_counts)

gmail.com              150
aol.com                145
verizon.net             20
yahoo.com               19
hotmail.com             14
                      ...
sahadifinefoods.com      1
sequins.com              1
attglobal.net            1
solco.com                1
worksmfg.com             1
Name: domain, Length: 591, dtype: int64

In [25]:
#Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

#Rename NTA column for simplicity
data = data.rename(columns={'Neighborhood Tabulation Area (NTA) (2020)': 'NTA'})

#Filter dataframe to include NTAs that show up at least 5 times then save as dataframe
data_q3 = data.groupby("NTA").filter(lambda x: len(x) > 4)

#Groupby NTA to get mean total savings
mean_savings = data_q3.groupby('NTA')['Total Savings'].mean()

#Groupby NTA to get total jobs created
jobs_created = data_q3.groupby('NTA')['Job created'].sum()

NTA
BK0101     10367.961795
BK0102     12599.753333
BK0103     19150.922857
BK0104     21158.253077
BK0201     15102.036364
              ...
QN1305    166379.352000
QN1306     21160.505200
SI0106      6338.252857
SI0107    113610.160000
SI0204    605464.839167
Name: Total Savings, Length: 72, dtype: float64